name: Trigger Sync Class Reference

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'doc/classes/**'
    types: [closed]
    branches: [master]

jobs:
  trigger:
    name: Trigger update class reference files based on the engine revision
    runs-on: ubuntu-latest
    steps:
    - uses: passeidireto/trigger-external-workflow-action@v1.0.0
      env:
        PAYLOAD_AUTHOR: ${{ github.actor }}
      with:
        repository: 17chuchu/redot-docs-site
        event: sync_class_ref
        github_pat: ${{ secrets.REDOT_DOCS_SITE_PAT }}
